################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
########Library.Inclock.web.br
/Library.Inclock.web.br/obj/
/Library.Inclock.web.br/Bin
/Autenticador/Autenticador_Host/obj/Debug
/Autenticador/Autenticador/obj/Debug
/Autenticador/.vs


/packages

########Classes 
/Classes/obj/
/Classes/Bin



#######wwwroot
www.root/Bin

###### Autenticador
/Autenticador/packages
/Autenticador/Autenticador_IIS/Bin
/Autenticador/Autenticador/bin/
/Autenticador/Autenticador_Host/bin/