/.vs
########Library.Inclock.web.br
/Library.Inclock.web.br/obj/
/Library.Inclock.web.br/Bin
/Autenticador/Autenticador_Host/obj/Debug
/Autenticador/Autenticador/obj/Debug
/Autenticador/.vs


/packages/

########Classes 
/Classes/obj/
/Classes/Bin


/www.root/Bin
/Autenticador/Autenticador_Host
#######wwwroot


###### Autenticador
/Autenticador/packages
/Autenticador/Autenticador/bin/
/Autenticador/Autenticador_IIS/bin/