<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add providerName="MySql.Data.MySqlClient" name="sql" connectionString="server=localhost;user=root;password=root;database=inclock;port=3306;"/>
    <!--ConnectionString Produção -->
    <add providerName="MySql.Data.MySqlClient" name="sql1" connectionString="server=den1.mysql6.gear.host;user=autenticador;password=Gmg7kauf#;database=autenticador;port=3306;SslMode=none"/>
  </connectionStrings>
  <appSettings configSource="AppSettings.config"></appSettings>
  <!--netsh http add urlacl url=http://+:64241/inclock/autenticador user=todos-->
  <!--
    Para obter uma descrição das alterações do web.config, consulte http://go.microsoft.com/fwlink/?LinkId=235367.

    Os seguintes atributos podem ser definidos na marca <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <machineKey
  validationKey="E72ACEB4854E04A4B6FAF2A80FC9566868593BCCDDDFF29681F0A873FB05FAEBF4ECFEB40E57A637D659464455935FD804C795101F16799807951B6645660E29"
  decryptionKey="863CC25EC445251369B16488CC41F212ED78BC1738CE5704D3A45B6DF03F3C71"
  validation="SHA1" decryption="AES"/>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.6">
      <assemblies>
        <add assembly="System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="MySql.Data, Version=8.0.12.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
        <add assembly="System.ComponentModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="True"/>
    <services>
      <service name="Autenticador.Service">
        <endpoint address="/soap" binding="basicHttpBinding" contract="Autenticador.IService" behaviorConfiguration="SoapBehavior"/>
        <endpoint address="/rest" binding="webHttpBinding" contract="Autenticador.IService" behaviorConfiguration="RestBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/"/>
          </baseAddresses>
        </host>
      </service>
    </services>

    <bindings>
      <webHttpBinding>
        <binding name="crossDomain" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RestBehavior">
          <webHttp/>
        </behavior>
        <behavior name="SoapBehavior"/>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.11.0" newVersion="8.0.11.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>