<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add providerName="MySql.Data.MySqlClient" name="sql" connectionString="server=localhost;user=root;password=root;database=inclock;port=3306;" />
    <!--ConnectionString Produção -->
    <add providerName="MySql.Data.MySqlClient" name="sql1" connectionString="server=den1.mysql6.gear.host;user=autenticador;password=Oh89Z78!B9~W;database=autenticador;port=3306;" />
  </connectionStrings>
  <!--netsh http add urlacl url=http://+:8733/inclock/autenticador user=todos-->
  <!--
    Para obter uma descrição das alterações do web.config, consulte http://go.microsoft.com/fwlink/?LinkId=235367.

    Os seguintes atributos podem ser definidos na marca <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.6">
      <assemblies>
        <add assembly="System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="True" />
    <services>
      <service name="Autenticador.Service">
        <endpoint address="/soap" binding="basicHttpBinding" contract="Autenticador.IService" behaviorConfiguration="SoapBehavior" />
        <endpoint address="/rest" binding="webHttpBinding" contract="Autenticador.IService" behaviorConfiguration="RestBehavior" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Autenticador/Service1/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RestBehavior">
          <webHttp />
        </behavior>
        <behavior name="SoapBehavior" />
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.11.0" newVersion="8.0.11.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>