<?xml version="1.0" encoding="utf-8"?>
<!--Autenticador-->

<configuration>
  <appSettings>
    <add key="smtpLoginPadrao" value="blublucas@gmail.com"/>
    <add key="passwordPadrao" value="gmg7kauf@"/>
    <add key="ServidorPadrao" value="smtp.gmail.com"/>
    <add key="port" value="587"/>

    <add key="EmailPadrao" value="blublucas@gmail.com"/>
    <add key="ErroEmail" value="oliveiramelo1996@gmail.com;laiza.gomes.oliveira@gmail.com" />

    <add key="UpLoadImagensAvisos" value="\upload\Avisos\" />
    <add key="exports" value="\upload\exports"/>

    <!-- Horario dos expedientes -->
    <add key="manha" value="06:00"/>
    <add key="tarde" value="12:01"/>
    <add key="noite" value="17:00"/>
    <add key="fimperiodo" value="23:00"/>

    <add key="chave" value="(r!pt0gr@f1a" />

    <add key="apiRest" value= "http://localhost:64241/Service.svc/rest/" />
  </appSettings>
  
  <connectionStrings>
    <add providerName="MySql.Data.MySqlClient" name="sql" connectionString="server=localhost;user=root;password=root;database=inclock;port=3306;" />
  </connectionStrings>  
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="True">
    </serviceHostingEnvironment>
    <services>
      <service name="Autenticador.Service">
        <endpoint address="/soap" binding="basicHttpBinding" contract="Autenticador.IService" behaviorConfiguration="SoapBehavior" />
        <endpoint address="/rest" binding="webHttpBinding" contract="Autenticador.IService" behaviorConfiguration="RestBehavior" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Autenticador/Service1/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RestBehavior">
          <webHttp />
        </behavior>
        <behavior name="SoapBehavior">
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.12.0" newVersion="6.9.12.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>
