<?xml version="1.0" encoding="utf-8"?>
<!--Autenticador-->
<!--netsh http add urlacl url=http://+:8733/inclock/autenticador user=todos-->
<configuration>
  <connectionStrings>
    <add  providerName="MySql.Data.MySqlClient" name="sql" connectionString="server=localhost;user=root;password=root;database=inclock;port=3306;"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="Autenticador.Autenticador">
       
        <endpoint address="" binding="basicHttpBinding"  contract="Autenticador.IAutenticador" >
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
           <!-- <add baseAddress="http://localhost:8733/Design_Time_Addresses/Autenticador/Service1/"/>-->
            <add baseAddress="http://localhost:8733/inclock/autenticador" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information
          <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>          -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
