<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add providerName="MySql.Data.MySqlClient" name="sql" connectionString="server=localhost;user=root;password=root;database=inclock;port=3306;" />
    <add providerName="MySql.Data.MySqlClient" name="sql1" connectionString="server=den1.mysql6.gear.host;user=autenticador;password=Gmg7kauf#;database=autenticador;port=3306;SslMode=none"/>
  </connectionStrings>
  <appSettings configSource="AppSettings.config"></appSettings>
  
</configuration>