<appSettings>
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  <add key="autenticador" value="autenticado\"/>
  <add key="UpLoadImagensAvisos" value="\upload\Avisos\" />

  <!--Cadastro dos expedientes-->
  <add key="manha" value="08:00"/>
  <add key="tarde" value="11:00"/>
  <add key="noite" value="17:00"/>
  
</appSettings>

