<appSettings>
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  
  <add key="smtpLoginPadrao" value="blublucas@gmail.com"/>
  <add key="passwordPadrao" value="gmg7kauf@"/>
  <add key="ServidorPadrao" value="smtp.gmail.com"/>
  <add key="port" value="587"/>

  <add key="EmailPadrao" value="blublucas@gmail.com"/>
  <add key="ErroEmail" value="oliveiramelo1996@gmail.com;laiza.gomes.oliveira@gmail.com" />

  <add key="UpLoadImagensAvisos" value="\upload\Avisos\" />

  <!-- Horario dos expedientes -->
  <add key="manha" value="06:00"/>
  <add key="tarde" value="12:01"/>
  <add key="noite" value="17:00"/>
  <add key="fimperiodo" value="23:00"/>

  <add key="chave" value="(r!pt0gr@f1a" />

  <add key="apiRest" value= "http://localhost:64241/Service.svc/rest/" />
 
</appSettings>

