<appSettings>
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  <add key="autenticador" value="autenticado\"/>
  <add key="UpLoadImagensAvisos" value="\upload\Avisos\" />

  <!-- Horario dos expedientes -->
  <add key="manha" value="06:00"/>
  <add key="tarde" value="12:01"/>
  <add key="noite" value="17:00"/>
  <add key="fimperiodo" value="23:00"/>

  <add key="chave" value="(r!pt0gr@f1a" />
</appSettings>

