<?xml version="1.0"?>

<configuration>

  <system.webServer>
    <handlers>
      <add name="WebResource" path="WebResource.axd" verb="GET" type="System.Web.Handlers.AssemblyResourceLoader" />
      
    </handlers>
  </system.webServer>
  <system.web>
    <pages enableEventValidation="true"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off" defaultRedirect="/erro">
    <error statusCode="404" redirect="\"/>
  </customErrors>
    <compilation debug="true"/>
    <authentication mode="Forms" >
      <forms name=".AUT" protection="None"  defaultUrl="/" loginUrl="/" path="/" cookieless="UseUri" >
        <credentials passwordFormat="Clear">
          <user name="root" password="root" />
        </credentials>
      </forms>
    </authentication>
    <authorization>
      <allow roles="root"/>
      <deny users="?" />
      <allow users="?"/>
    </authorization>

  </system.web>
  <appSettings configSource="appsettings.config"/>
  <connectionStrings>
    <!-- Desenvolvimento -->
    <!---->
    <add providerName="MySql.Data.MySqlClient" name="sql" connectionString="server=localhost;user=root;password=root;database=inclock;port=3306;"/>
    <add providerName="MySql.Data.MySqlClient" name="sql1" connectionString="server=den1.mysql6.gear.host;user=autenticador;password=Oh89Z78!B9~W;database=autenticador;port=3306;" />

    <!--Produção 
    <add providerName="MySql.Data.MySqlClient" name="sql" connectionString="server=sql10.freemysqlhosting.net;user=sql10222522;password=Lzf2My8Sgq;database=sql10222522;port=3306;"/>-->
  </connectionStrings>
  <!--end point do Autenticador -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Autenticador/soap"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
        contract="Autenticador.IService" name="BasicHttpBinding_IService" />
    </client>
  </system.serviceModel>
  <!--Fim do end point do Autenticador -->
  
  
  
  <!--Definindo o nivel de acesso as paginas --> 
  <location path="default.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="handler">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Funcionario">
    <system.web>
      <authorization >
        <allow roles="ADM"/>
        <deny roles="FUNC" users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Ponto/Default.aspx">
    <system.web>
      <authorization >
        <allow roles="FUNC"/>
      </authorization>
    </system.web>
  </location>
</configuration>

