<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>  

    <pages enableEventValidation="true"/>
    <httpRuntime targetFramework="4.5"/>
    <!--<customErrors mode="On" defaultRedirect="/erro">
    <error statusCode="404" redirect="\"/>
  </customErrors>-->
    <compilation debug="true"/>
  </system.web>
 
  <appSettings configSource="appsettings.config"/>
  <connectionStrings>
    <!-- Desenvolvimento -->
    <!---->
    <add providerName="MySql.Data.MySqlClient" name="sql" connectionString="server=localhost;user=root;password=root;database=inclock;port=3306;"/>
    <!--Produção 
    <add providerName="MySql.Data.MySqlClient" name="sql" connectionString="server=sql10.freemysqlhosting.net;user=sql10222522;password=Lzf2My8Sgq;database=sql10222522;port=3306;"/>-->
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAutenticador"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/inclock/autenticador" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAutenticador" contract="Autenticador.IAutenticador" name="BasicHttpBinding_IAutenticador"/>
      <!--  <endpoint address=" http://inclock.gearhostpreview.com/Service.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAutenticador "
                contract="Autenticador.IAutenticador"
                name="BasicHttpBinding_IAutenticador"/>-->
    </client>
  </system.serviceModel>
</configuration>