<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    Para obter uma descrição das alterações do web.config, consulte http://go.microsoft.com/fwlink/?LinkId=235367.

    Os seguintes atributos podem ser definidos na marca <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings configSource="appsettings.config">
  </appSettings>
  <connectionStrings>
    <add providerName="MySql.Data.MySqlClient" name="sql" connectionString="server=localhost;user=root;password=root;database=inclock;port=3306;"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAutenticador" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/inclock/autenticador"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAutenticador"
          contract="Autenticador.IAutenticador" name="BasicHttpBinding_IAutenticador" />
    </client>
  </system.serviceModel>
</configuration>