<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add providerName="MySql.Data.MySqlClient" name="sql" connectionString="server=localhost;user=root;password=root;database=inclock;port=3306;"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>


  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAutenticador"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/inclock/autenticador" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAutenticador" contract="Autenticador.IAutenticador" name="BasicHttpBinding_IAutenticador"/>
    </client>
  </system.serviceModel>
</configuration>
