<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--netsh http add urlacl url=http://+:8733/inclock/autenticador user=todos-->
  <connectionStrings>
    <add providerName="MySql.Data.MySqlClient" name="sql" connectionString="server=localhost;user=root;password=root;database=inclock;port=3306;"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>


  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://inclock.gearhostpreview.com/Service.svc/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
        contract="Autenticador.IService" name="BasicHttpBinding_IService" />
    </client>
  </system.serviceModel>
  
</configuration>
